.about-us-subheading, .about-us-title, .about-us-content {
    font-family: var(--inter);
}

.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 10rem;
}

.about-us-item {
    margin: 2rem 10rem;
}

.about-us-subheading {
    font-size: 1rem;
    font-weight: 700;
    color: var(--red-dark);
}

.about-us-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
}

.about-us-content {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--gray-light);
}

@media screen and (max-width: 760px) {
    .about-us-container {
        margin: 5rem 10rem;
    }

    .about-us-subheading {
        font-size: 1.5rem;
    }

    .about-us-title {
        font-size: 2.5rem;
    }

    .about-us-item {
        margin: 1rem 5rem;
    }
}