@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: #fff;
}

:root {
    --white: #fff;
    --black: #000;
    --gray-extra-light: #98A2B3;
    --gray-light: #667085;
    --gray-dark: #434956;
    --red-light: #b72c2c;
    --red-dark: #8E2424;
    --inter: 'Inter', sans-serif;
}