.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem;
}

.nav-item {
    padding: .5rem;
}

.nav-item_brand {
    height: 2rem;
}

.nav-item_icon, .close-icon {
    display: none;
    height: 2rem;
    width: 2rem;
}

.nav-item_list_item {
    display: inline;
    list-style: none;
    margin: 0 .75rem;
}

.nav-item_list_item a {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #667085;
}

.nav-item_list_item a:hover {
    color: #434956;
}

.nav-item_button {
    border: none;
    background: #fff;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #667085;
    padding: .75rem 1.25rem;
    margin: 0 .25rem;
}

.nav-item_button:hover {
    color: #434956;
}

.nav-item_button:nth-child(2) {
    background-color: #8E2424;
    color: #fff;
}

.nav-item_button:nth-child(2):hover {
    background-color: #b72c2c;
}