.open-jobs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 5rem;
}

.open-jobs-item {
    text-align: center;
}

.open-jobs-item_subheading, .open-jobs-item_title, .open-jobs-item_content {
    font-family: var(--inter);
    margin: 1rem 2rem;
}

.open-jobs-item_subheading {
    font-size: 1rem;
    font-weight: 700;
    color: var(--red-dark);
}

.open-jobs-item_title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
}

.open-jobs-item_content {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--gray-light);
}

.open-jobs-item_image {
    height: 100%;
    width: 100%;
    margin: 3rem auto;
}

@media screen and (max-width: 760px) {
    .open-jobs-item_subheading {
        font-size: 1.5rem;
        margin: auto 0;
    }

    .open-jobs-item_content {
        margin: 1rem;
    }

    .open-jobs-item_image {
        width: 90vw;
    }
}